.Footer {
  bottom: 0;
  width: 100%;
  float: left;
  position: fixed;
  margin-top: 40px;
  background-color: var(--ui-footer-bg);
  color: var(--ui-footer-color);
  border-top: 1px solid var(--ui-border);
  font-size: 0.8rem;
  padding: 4px;
  font-family: var(--ui-font);
  z-index: 101;
}

.Footer .left-side {
  margin-left: 6px;
  float: left;
  display: flex;
}

.Footer .left-side > span {
  margin-left: 6px;
}

.Footer .left-side .icon svg {
  height: 16px;
  width: 16px;
}

.Footer .right-side {
  float: right;
}

.Footer .right-side > span {
  margin-right: 20px;
}

@media (max-width: 700px) {
  .Footer .right-side {
    display: none;
  }
}
