.Footer {
  bottom: 0;
  width: 100%;
  float: left;
  position: fixed;
  margin-top: 40px;
  background-color: var(--ui-footer-bg);
  color: var(--ui-footer-color);
  border-top: 1px solid var(--ui-border);
  font-size: 0.8rem;
  padding: 4px;
  font-family: var(--ui-font);
  z-index: 101;

  .left-side {
    margin-left: 6px;
    float: left;

    > span {
      margin-left: 6px;
    }

    .icon svg {
      height: 16;
      width: 16;
    }
  }

  .right-side {
    float: right;
    display: inline-block;

    > span {
      margin-right: 15px;
    }

    @media (max-width: 480px) {
      display: none;
    }
  }
}
