.header {
  height: 100%;
  margin-left: 44px;
  padding: 0;
  background-color: var(--ui-bg);
  display: flow-root;
  border-bottom: 1px solid var(--ui-border);
  font-family: var(--ui-font);
}


.header .LenguagePicker {
  float: right;
  font-size: 1.2em;
}
