.AboutTextBlock {
  text-align: center;

  h3 {
    margin: 20px 0;
  }

  .TextBlock {
    font-size: 1.2em;

    > img {
      max-height: 500px;
      max-width: 500px;
      border-radius: 15px;
      margin: 15px 0;
      width: 100%;
    }
  }
}