.nav-link {
  padding: 10px;
  color: #d6d6d6;
  font-size: 1.2em;
  display: inline;
  font-family: var(--ui-font-family);
  border: 1px solid var(--ui-border);
  transform: 0.3s all;
}

.nav-link:hover {
  color: #d6d6d6;
  background-color: #333;
}

.nav-link-icon-container {
  margin-right: 5px;
}

.nav-link-icon {
  height: 20px;
  width: 20px;
}

.nav-link-active {
  background-color: var(--page-background-color);
  border-top: 2px solid var(--ui-header-nav-active);
  border-right: 1px solid var(--ui-border);
  border-left: 1px solid var(--ui-border);
  border-bottom: 1px solid var(--page-background-color);
}
