.ca-title {
  padding: 5px;
}

.ca-title-container {
  cursor: pointer;
  padding-bottom: 5px;
}

.ca-title-content {
  padding-left: 8px;
}

.ca-content {
  margin-left: 16px;
  display: none;
  transition: 0.2s all;
  overflow: hidden;
}

.ca-content-exit {
  animation: close 0.2s ease-out forwards;
}

.ca-content-active {
  display: block;
  animation: open 0.2s ease-out forwards;
}

@keyframes open {
  0% {
    transform: translateY(-100%) scaleY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
}

@keyframes close {
  0% {
    display: block;
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    display: none;
    transform: scaleY(0) translateY(-100%);
    opacity: 0;
  }
}


.ca-arrow-open > svg {
  animation: openArrow 0.2s ease-out forwards;
}
.ca-arrow-close > svg {
  animation: closeArrow 0.2s ease-out forwards;
}


@keyframes openArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes closeArrow {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}