.portfolioCard {
  display: flex;
  width: 100%;
  border: 1px solid var(--page-color);
  margin: 20px 10px;
  padding: 14px;
  border-radius: 10px;
  transition: 0.4s all ease-out;
  gap: 20px;
}

.portfolioCard:hover {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.3);
  transform: scale(1.02);
  color: var(--page-color);
  filter: brightness(1.1);
}

.portfiolioContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  color: var(--page-color)!important;
}

.itemImage {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: #000;
}

.itemImage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.portfolioTitle {
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.3s all;
}

.description {
  font-size: 1.125rem;
  height: 112px;
  overflow: auto;
  text-overflow: ellipsis;
  padding: 0 5px;
  margin: 0;
  font-style: italic;
}

.description:hover {
  color: var(--link-hover-color);
}

.itemContent {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.itemContent h4 {
  text-align: center;
  margin: 0;
  color: var(--page-color);
  transition: 0.3s all;
}

.itemContent h4:hover {
  color: var(--link-hover-color);
}

.itemButtons {
  display: flex;
  flex-wrap: wrap !important;
  flex-flow: row;
  gap: 5px;
  justify-content: space-evenly;
  width: 100%;
}

.itemButtons > a {
  min-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

@media (max-width: 768px) {
  .portfolioCard {
    padding: 10px;
  }

  .portfiolioContainer {
    flex-direction: column;
  }

  .itemImage {
    min-height: 200px;
    max-height: 200px;
  }

  .itemButtons {
    gap: 10px;
    margin-bottom: 5px;
  }

  .description {
    height: 80px;
  }
}