.homeTitle {
  text-align: center;
  height: calc(100vh - 70px);
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeTitle img {
  width: 200px;
  height: 200px;
}

.homeTitle > * {
  margin-bottom: 20px;
}

.homeHero {
  padding: 14px;
}
