@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,400&display=swap');

:root {
  /** pageVariables **/
  --ui-menu-side-active-width: 45px;

  /** MONOKAI THEME **/
  --page-color: #d6d6d6;
  --page-background-color: #1e1e1e;
  --page-font-family: monospace;
  --code-color: #f92672;
  --code-color-secondary: #66d9ef;
  --code-color-tertiary: #a6e22e;
  --code-color-params:  #d18c0c;
  --code-string-color: #e6db74;


  /** PEACOCK THEME **/
  --ui-peacock-bg: #c0c0c0;


  /** uiVariables -> aside menu, header, footer **/
  --ui-text-color: #eee;
  --ui-text-color-secondary: #808a95;
  --ui-bg: #101112;
  --ui-border: #666666;
  --ui-header-nav-active: #c1863d;
  --ui-menu-bg: #010101;
  --ui-menu-color: #d6d6d6;
  --ui-footer-bg: #191b1e;
  --ui-footer-color: #808a95;
  --ui-font-family: arial, sans-serif;


}

html {
  background-color: var(--ui-bg);
  color: var(--ui-text-color);
}

a {
  text-decoration: none;
}

body {
  color: var(--page-color);
  background-color: var(--page-background-color);
  font-family: var(--page-font-family);
  min-height: 100vh;
}
